<nav class="navbar navbar-expand-sm ">
        <div class="container-fluid">
            <!--Logo-->
          <img src="./images/fast-lane-rentals.png" href="#" alt="FLRs Logo"></img>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          

         <div class="navbar">
          <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                
              <li class="nav-item">
                <a class="nav-link" href="/homepage">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/cars">Cars</a>
              </li>
              {{!-- <li class="nav-item">
                <a class="nav-link" href="/reviews">Reviews</a>
              </li> --}}
            </ul> 
            
           
            <form class="d-flex">
              {{#if logged_in}}
              <h1>test logged in</h1>
                <button class="btn btn-primary" id="logout">Log Out</button>
              {{else}}
                <button class="btn btn-primary"><a href="/login">Log In</a></button>
                 <button class="btn btn-primary logout" id="logout">Log Out</button>
              {{/if}}

            </form> 
            
          </div>
         </div>
        </div>
        <script src="./js/logout.js"></script>
      </nav>