<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fast Car Rental</title>
  <link rel="stylesheet" href="/css/jass.css">
</head>

<body>
  <header class="display-flex justify-space-between align-center p-2">
    <nav>
        <h1>FAST CAR RENTALS LOGO</h1>

        <div class="searchBar">
            <label for="search">Search cars</label>
            <input type="search" id="search">
        </div>

         <button class="btn logInBtn" id="logInBtn">Login</button>

        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h1>Login</h1>

                <div class="form-element">
                    <label for="email-login">Email:</label>
                    <input type="text" id="email-login" placeholder="Enter Email">
                </div>
                
                <div class="form-element">
                    <label for="password-login">Password: </label>
                    <input type="password" id="password-login" placeholder="Enter Password">
                </div>

                <div class="form-element">
                    <button class="btn btn-primary" type="submit">login</button>
                </div> 
                <div class="form-element">
                    <a href="#">Forgot Password?</a>
                </div>
                
        </div>
        {{#if logged_in}}
        <button class="btn" id="logout">logout</button>
        {{/if}}

</div>
    </nav>

  
  </header>
  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
  <footer>
      
  </footer>
  <script src="/public/js/modal.js"></script>
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
