<header><h1>About Us</h1></header>

    <main>
        <h2>At Fast Lane Rentals, we are committed to ensuring our clients have a smooth driving, car rental and affordable experience.
        </h2>
        <h1>Why choose Us?</h1>
        <p>First of all, because we've got fast, comfortable, spacious cars available to rent at a cost that won't leave
            a dent in your pockets.<br>Secondly, our insurance covers any accidental damage done to the car. <br>And...if you have kiddos,
            car comes with car seats for your little humans!
        </p>

        <h1>Meet The Team</h1>
        <div class="row">
        <div class="column">
         <h5><img src="/images/about-avatar.jpeg" alt="Avatar" width="60px" height="60px">
            <a href="https://github.com/AlexisJLO" class="fa fa-github highlight">Alexis. L</a></h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero sequi, tempora, 
                error sed libero officiis eveniet eligendi consequatur ut magni aperiam ipsum 
                esse exercitationem facere iusto dolorem fugit maxime dicta!</p>
        </div>

        <div class="column">
         <h5><img src="/images/about-avatar.jpeg" alt="Avatar" width="60px" height="60px">
            <a href="https://github.com/mxrtinee" class="fa fa-github highlight">Martin. E</a></h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero sequi, tempora, 
                error sed libero officiis eveniet eligendi consequatur ut magni aperiam ipsum 
                esse exercitationem facere iusto dolorem fugit maxime dicta!</p>
        </div>

        <div class="column">
         <h5><img src="/images/about-avatar.jpeg" alt="Avatar" width="60px" height="60px">
            <a href="https://github.com/Saiishago" class="fa fa-github highlight">Salome. M</a></h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero sequi, tempora, 
                error sed libero officiis eveniet eligendi consequatur ut magni aperiam ipsum 
                esse exercitationem facere iusto dolorem fugit maxime dicta!</p>
        </div>

        {{!-- <h6>Need A Car? We've Got You. Don't Need A Car? Uhm...okay</h6> --}}
        </div>
    </main>