<header>Late or Early, at least you'll arrive in style.</header>

<div class="wheels">

{{#each cars as |car|}}

<section class="card">
    {{car.make}}
</section>

{{/each}}

                <section class="card">
                  <h1>Bikes</h1>
                  <img src="./public/images/Bikes.jpeg" alt="Not a basic Bike"/>
                  <p>Lorem Ipsuim</p>
                </section>

                <section class="card">
                  <h1>Built For Speed</h1>
                  <img src="./public/images/Built-for-Speed.jpeg" alt="Porche"/>
                  <p>Lorem Ipsuim</p>
                </section>

                <section class="card">
                  <h1>Convertibles</h1>
                  <img src="./public/images/Convertible.jpeg" alt="Benz"/>
                  <p>Lorem Ipsuim</p>
                </section>

                <section class="card">
                  <h1>Electrics</h1>
                  <img src="./public/images/Electric.jpeg" alt="H-Ionic"/>
                  <p>Lorem Ipsuim</p>
                </section>

                <section class="card">
                  <h1>Hatch-Backs</h1>
                  <img src="./public/images/Hatch-Back.jpeg" alt="Kia"/>
                  <p>Lorem Ipsuim</p>
                </section>

                <section class="card">
                  <h1>Sedans</h1>
                  <img src="./public/images/Sedan.jpeg" alt="Toyota Corolla"/>
                  <p>Lorem Ipsuim</p>
                </section>

                <section class="card">
                  <h1>SUVs</h1>
                  <img src="./public/images/SUVs.jpeg" alt="Range Rover Lumma CLR RS"/>
                  <p>Lorem Ipsuim</p>
                </section>

                <section class="card">
                  <h1>Trucks/Bakkie</h1>
                  <img src="./public/images/Trucks.jpeg" alt="Toyota Tundra"/>
                  <p>Lorem Ipsuim</p>
                </section>

                <section class="card">
                  <h1>Vans</h1>
                  <img src="./public/images/Mini-Van.jpeg" alt="VW miniVan"/>
                  <p>Lorem Ipsuim</p>
                </section>
        </div>